<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whattowhere">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".WTWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.DayNight"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.profile.follow.FollowersActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".ui.boardDetails.BoardDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.comments.CommentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity2"
            android:exported="true">

            <!--
          <intent-filter>
          <action android:name="android.intent.action.MAIN" />

          <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.postDetails.PostDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.resetPassword.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.WhatToWhere">

            <!--
          <intent-filter>
          <action android:name="android.intent.action.MAIN" />

          <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.post.publishPost.PublishPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.post.createPost.CreatePostActivity"
            android:exported="false"
            android:theme="@style/FullScreen">

            <!--
          <intent-filter>
          <action android:name="android.intent.action.MAIN" />

          <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.quiz.StartStyleQuizActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.setupProfile.SetUpProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.otp.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgotPassword.ForgotPwdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.splashSelection.SplashSelection"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
                <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>

        <service
            android:name=".common.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_primary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>